@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");

body {
  font-family: "Noto Kufi Arabic", sans-serif;
}
.feat {
  width: 90vw;
  margin: auto;
}
.features {
  padding: 20px;
}

.features::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #ebebeb;
  right: 0;
  top: 0;
}
.features::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #c7b349;
  right: 0;
  top: 0;
}

.vision {
  padding: 20px;
}

.vision::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #c7b349;
  right: 0;
  top: 20px;
}
.man {
  padding: 20px;
}

.man::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #c7b349;
  right: 0;
  top: 20px;
}
.service {
  padding: 20px;
}

.service::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 80px;
  background-color: #c7b349;
  right: 0;
  top: 20px;
}
.partner {
  padding: 20px;
}

.partner::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #c7b349;
  right: 0;
  top: 20px;
}
.companies {
  padding: 20px;
}

.companies::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: #c7b349;
  right: 0;
  top: 20px;
}
.foot {
  padding: 20px;
}

.foot::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #c7b349;
  right: 0;
  top: 20px;
}
/* anmtions OurVision*/

.parent .card-one:hover,
.parent .card-two:hover,
.parent .card-three:hover {
  border: 1px solid #c7b349;
  transition:0.8s;
}
.parent .card-one:hover .brd,
.parent .card-two:hover .brd,
.parent .card-three:hover .brd {
  border: 1px solid #c7b349;
  transition:0.8s;

}
.parent .card-one:hover .card,
.parent .card-two:hover .card,
.parent .card-three:hover .card {
  color: #000;
  transition:0.8s;

}

.swiper-container {
  width: 900%;
  height: auto;
}



.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  transition: all 0.3s ease; 
  color: white; 
}
     
.nav-link:hover {
  color: white; 
}


.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; 
  background-color: gray; 
  transition: width 0.3s ease-in-out; 
}


.nav-link:hover::after {
  width: 100%;
}


.active-link::after {
  width: 100%;
  background-color: #C7B349; 
}
.active {
 border-bottom:solid 1px #C7B349;
}


/* some edit */
.bg-ourvision {
  background-image: url('../src/assets/background-img/image.svg');
  background-size: cover;   
  background-position: center; 
}



@media (max-width: 640px) {
  .number {
    width: 40px;
    height: 40px;
  }
}

.swiper-pagination {
  bottom: 10px;
  margin-top: 20px;  
}

.swiper-pagination-bullet {
  background-color: #C7B349;  
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #000;  
}



/* تخصيص تصميم الأسهم */
.swiper-button-next,
.swiper-button-prev {
  width: 15px;
  height: 15px;
  border:1px solid #000 ;
  border-radius: 50%;  /* جعل الأسهم دائرية */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;  /* لون الأيقونة */
  z-index: 10;  /* رفع ترتيب العناصر لكي تكون مرئية */
  padding:30px;
}

/* تخصيص الأيقونات داخل الأسهم */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;  /* حجم الأيقونة */
  color: #000;  /* تأكيد أن الأيقونات بيضاء */
}



