@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');



body {
    font-family: "Noto Kufi Arabic", sans-serif;
}
.feat{
    width:90vw;
    margin : auto;
        
}
.features{
    padding : 20px;
}

.features::before{
content:"";
position:absolute;
width:5px;
height : 100%;
background-color : #EBEBEB;
right : 0;
top : 0;


}
.features::after{
content:"";
position:absolute;
width:5px;
height : 100px;
background-color : #C7B349;
right : 0;
top : 0;

}

.vision{
    padding : 20px;
}

.vision::before{
content:"";
position:absolute;
width:5px;
height : 100%;
background-color : #C7B349;
right : 0;
top : 20px;

}
.man{
    padding : 20px;
}

.man::before{
content:"";
position:absolute;
width:5px;
height : 100px;
background-color : #C7B349;
right : 0;
top : 20px;

}
.service{
    padding : 20px;
}

.service::before{
content:"";
position:absolute;
width:5px;
height : 100px;
background-color : #C7B349;
right : 0;
top : 20px;

}
.partner{
    padding : 20px;
}

.partner::before{
content:"";
position:absolute;
width:5px;
height : 100px;
background-color : #C7B349;
right : 0;
top : 20px;

}
.companies{
    padding : 20px;
}

.companies::before{
content:"";
position:absolute;
width:5px;
height : 100px;
background-color : #C7B349;
right : 0;
top : 20px;

}